body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 450px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}
.inbox-title{
    font-size: 13px;
    font-weight: 700;
    color: rgb(163, 162, 162);
    margin-bottom: 20px;
}
.email{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.prof-pic img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.name{
    font-size: 18px;
    font-weight: 900;
}
.time, .text{
    font-size: 15px;
    color: rgb(138, 138, 138);
    font-weight: 600;
}
.subject{
    font-size: 16px;
    font-weight: 900;
}
.text{
    font-weight: 500;
    white-space: nowrap;
}